#td2
{
    text-align: left;
    font-family: Arial;
    font-weight: 700;
}
#td21
{
    font-family: Arial;
}

#dvLoading  

{  

    background:#333 url(Images/ajax-loader.gif) no-repeat center center;  
    height: 10%;  
    width: 10%;  
    position: fixed;  
    z-index: 1000;  
    left: 0;  
    top: 0;  
    margin: 0 0 0 0;  

} 

        .tan-border_1 {
	border: 1px solid #98aab1;
    BACKGROUND-COLOR: white;
    margin-left: 1px;
    text-transform:uppercase;
}

                .tan-border_1_low {
	border: 1px solid #98aab1;
    BACKGROUND-COLOR: white;
    margin-left: 1px;
}
        .tan-border_1_bad {
	border: 1px solid #98aab1;
    BACKGROUND-COLOR:   #FF9999;
    margin-left: 1px;
    text-align: left;
    text-transform:uppercase;
}
.CssStyle1 { height: 18px; font-family: Courier New; FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; LETTER-SPACING: 1pt; FONT-VARIANT: normal;}

        .style1
        {   
            font-family: "Arial Black";
        }

        .label  
        {
            height: 18px; font-family: Courier New; FONT-WEIGHT: bold; FONT-SIZE: 10pt;
            COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; 
            LETTER-SPACING: 1pt; FONT-VARIANT: normal;
            cursor: pointer; 
} 


        .style6
        {
            height: 22px;
            text-align: left;
            font-size: 10pt;
        }
        .style7
        {
            font-family: "Arial Black";
            height: 3px;
        }
        .style8
        {
            width: 16px;
        }
        .style9
        {
            width: 844px;
            text-align: center;
        }
        .style10
        {
            font-size: small;
            width: 844px;
            color: #0066FF;
            height: 22px;
        }
        .style14
        {
            width: 129px;
            font-size: 10pt;
            text-align: left;
        }
        .style16
        {
            width: 169px;
            font-size: 10pt;
            text-align: right;
        }
        .style22
        {
            width: 145px;
            text-align: left;
        }
        .style23
        {
            height: 13px;
            text-align: left;
        }
        .style24
        {
            width: 16px;
            height: 22px;
        }
        .style27
        {
            height: 14px;
            text-align: left;
        }
        .style31
        {
        }
        .style34
        {
            height: 14px;
            width: 63px;
            font-size: 10pt;
            text-align: right;
        }
        .style39
        {
            width: 130px;
        }
        .style43
        {
            height: 22px;
            width: 144px;
            font-size: 10pt;
            text-align: right;
        }
        .style44
        {
            color: #3366FF;
        }
        .style45
        {
            height: 14px;
            width: 144px;
            font-size: 10pt;
            text-align: right;
        }
        .style46
        {
            width: 103px;
            height: 14px;
        }
        .style47
        {
            width: 144px;
            font-size: 10pt;
            text-align: right;
        }
        .style49
        {
            width: 63px;
            font-size: 10pt;
            text-align: right;
        }
        .style53
        {
            width: 89px;
            height: 22px;
            font-size: 10pt;
            text-align: right;
        }
        .style60
        {
            width: 130px;
            font-size: 10pt;
            text-align: right;
        height: 17px;
    }
        .style67
        {
        width: 103px;
        height: 22px;
        text-align: left;
    }
        .style68
        {
            width: 73px;
        }
        .style69
        {
            width: 174px;
            font-size: 10pt;
            text-align: right;
        }
        .style72
        {
            width: 103px;
        text-align: left;
    }
        .style75
        {
            width: 141px;
            font-size: 10pt;
            text-align: right;
        }
        .style84
        {
            width: 844px;
            text-align: left;
            height: 22px;
        }
        .style85
        {
            height: 22px;
        }
        .style95
        {
            height: 15px;
            width: 141px;
            font-size: 10pt;
            text-align: right;
        }
        .style96
        {
            height: 5px;
            width: 141px;
            font-size: 10pt;
            text-align: right;
        }
        .style97
        {
            width: 16px;
            height: 51px;
        }
        .style98
        {
            width: 844px;
            text-align: center;
            height: 51px;
        }
        .style103
        {
            height: 15px;
            width: 46px;
            font-size: 10pt;
            text-align: right;
        }
        .style106
        {
            width: 108px;
            font-size: 10pt;
            text-align: left;
            }
        .style113
        {
            padding: 0px;
            width: 844px;
            text-align: center;
            height: 11px;
            color: #3366FF;
            font-size: 10pt;
            float: left;
            font-weight: 700;
        }
        .style115
        {
            font-size: 10pt;
        }
        .style116
        {
            height: 4px;
            width: 48px;
            font-size: 10pt;
            text-align: right;
        }
        .style118
        {
            width: 46px;
            font-size: 10pt;
            text-align: right;
            height: 3px;
            font-weight: 700;
        }
        .style119
        {
            width: 83px;
            height: 3px;
        }
        .style120
        {
            width: 56px;
            font-size: 10pt;
            text-align: left;
            font-style: normal;
            font-weight: 700;
        }
        .style124
        {
            height: 5px;
            width: 109px;
            font-size: 10pt;
            text-align: right;
        }
        .style127
        {
            width: 48px;
            height: 4px;
        }
        .style134
        {
            height: 15px;
            width: 108px;
            font-size: 10pt;
            text-align: right;
        }
        .style135
        {
            width: 117px;
            height: 5px;
        }
        .style136
        {
            width: 117px;
            height: 10px;
        }
        .style142
        {
            font-size: 10pt;
            text-align: left;
            height: 3px;
        }
        .style152
        {
            height: 15px;
            width: 37px;
            font-size: 10pt;
            text-align: right;
        }
        .style160
        {
            width: 83px;
        }
        .style163
        {
            width: 84px;
        }
        .style164
        {
            width: 84px;
            height: 15px;
        }
        .style166
        {
            height: 51px;
        }
        .style174
    {
        width: 164px;
    }
    .style175
    {
        width: 144px;
    }
    .style176
    {
        width: 16px;
        height: 91px;
    }
    .style177
    {
        padding: 0px;
        width: 844px;
        text-align: center;
        height: 91px;
        color: #3366FF;
        font-size: 10pt;
        float: left;
        font-weight: 700;
    }
    .style178
    {
        height: 91px;
    }
    .style179
    {
        height: 15px;
        width: 71px;
        font-size: 10pt;
        text-align: right;
    }
    .style180
    {
        width: 150px;
        height: 10px;
        text-align: left;
    }
    .style181
    {
        width: 190px;
        height: 10px;
        text-align: left;
    }
    .style182
    {
        width: 190px;
        height: 10px;
        text-align: left;
    }
    .style183
    {
        width: 270px;
        height: 10px;
        text-align: left;
    }
    .style184
    {
        width: 16px;
        height: 11px;
    }
    .style185
    {
        height: 11px;
    }
    .style186
    {
        height: 15px;
        width: 177px;
        font-size: 10pt;
        text-align: right;
    }
    .style188
    {
        width: 80px;
        height: 15px;
    }
    .style189
    {
        height: 15px;
        text-align: left;
    }
    .style190
    {
        height: 15px;
        width: 144px;
        font-size: 10pt;
        text-align: right;
    }
    .style192
    {
        width: 844px;
        text-align: left;
        height: 19px;
        color: #3366FF;
    }
    .style193
    {
        width: 16px;
        height: 19px;
    }
    .style194
    {
        height: 19px;
    }
    .style195
    {
        height: 15px;
        width: 190px;
        font-size: 10pt;
        text-align: right;
    }
    .style197
    {
        height: 5px;
        width: 190px;
        font-size: 10pt;
        text-align: right;
    }
    .style198
    {
        width: 190px;
        font-size: 10pt;
        text-align: right;
    }
    .style200
    {
        width: 844px;
        text-align: center;
        height: 11px;
    }
    .style202
    {
        width: 145px;
        text-align: left;
        height: 17px;
    }
    .style203
    {
        width: 174px;
        font-size: 10pt;
        text-align: right;
        height: 17px;
    }
    .style204
    {
        width: 129px;
        font-size: 10pt;
        text-align: left;
        height: 17px;
    }
    .style205
    {
        height: 17px;
        width: 169px;
        font-size: 10pt;
        text-align: right;
    }
    .style206
    {
        height: 17px;
        text-align: left;
        font-size: 10pt;
        width: 73px;
    }
    .style207
    {
        height: 13px;
        width: 169px;
        font-size: 10pt;
        text-align: right;
    }
    .style209
    {
        width: 63px;
        height: 22px;
        font-size: 10pt;
        text-align: right;
    }
    .style211
    {
        width: 76px;
        height: 22px;
        font-size: 10pt;
        text-align: left;
    }
    .style212
    {
        width: 58px;
        height: 22px;
        font-size: 10pt;
        text-align: right;
    }
    .style213
    {
        width: 76px;
        height: 22px;
        text-align: left;
    }
    .style215
    {
        width: 72px;
        font-size: 10pt;
        text-align: right;
    }
    .style218
    {
        width: 1190px;
        text-align: center;
        height: 11px;
    }
    .style219
    {
        height: 22px;
        text-align: left;
        font-size: 10pt;
        width: 35px;
    }
    .auto-style1
    {
        width: 30%;
        text-align: center;
        height: 11px;
    }
    .auto-style4
    {
        width: 146px;
        font-size: 10pt;
        text-align: left;
        height: 28px;
    }
    .auto-style5
    {
        width: 171px;
        font-size: 10pt;
        text-align: left;
        height: 28px;
    }
    .auto-style6
    {
        width: 76px;
        font-size: 10pt;
        text-align: right;
    }
    .auto-style7
    {
        width: 76px;
        font-size: 10pt;
        text-align: right;
        height: 28px;
    }
    .auto-style8
    {
        width: 72px;
        font-size: 10pt;
        text-align: right;
        height: 28px;
    }